@import "../../../styles/variables";
@import "../../../styles/global";

.card__reviews {
  background: $white-color;
  display: flex;
  padding: 20px 0;
  margin: 40px 10px 0 10px;
  border-radius: 8px;
  .img__user {
    margin-left:20px;
    overflow: hidden;
  }
  .card__content {
    text-align: left;
    margin: 0 20px;
    .card__place {
      font-weight: 700;
    }
    .card__rating__start {
      color: $primary-color;
    }
    .card__text {
      margin: 10px 0;
      display: -webkit-box;
      -webkit-box-oriant: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card__name__user {
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}
