@import "../../styles/global";
@import "../../styles/variables";

.footer {
  position: relative;
  bottom: 0;
  background: $bg-footer;
  color: $white-color;
  padding-top: 106px;
  font-family: "Poppins";
  font-size: 14px;
  clear: none;
  a:hover {
    color: $primary-color;
  }
  .col:first-child {
    h5 {
      margin: 20px 0;
      font-size: 18px;
      color: $text-color--sub;
    }

    ul {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      i {
        color: $primary-color;
        display: inline-block;
        margin-right: 10px;
      }
      a {
        color: $white-color;
        &:hover {
          color: $primary-color;
        }
      }
    }

    .contact-item {
      margin: 5px 0;
    }
  }

  &__title {
    margin-bottom: 26px;
    font-size: 18px;
    font-weight: 600;
  }

  &__content {
    font-size: 14px;
    letter-spacing: 1px;
    color: $text-color--sub;
    font-weight: 300;
    &-item:not(:first-child) {
      margin-top: 26px;
      font-size: 14px;
    }
  }

  .time-visit {
    color: $white-color;
    margin-top: 9px;
  }

  &__form {
    margin-top: 26px;
    width: 90%;
    min-width: 50%;
    &-name,
    &-email,
    &-submit {
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      i {
        position: absolute;
        top: calc(50% - 4px);
        left: 10px;
        transform: translate(0, -50%);
        display: inline-block;
        background: $text-color--sub;
        font-size: 18px;
      }
      input,
      button {
        width: 100%;
        outline: none;
        margin: 9px 0px;
        padding: 16px 10px;
        border: none;
        background: $text-color--sub;
        font-size: 15px;
      }
      input {
        padding-left: 40px;
      }
    }
    &-email {
      input {
        margin-top: 0;
      }
      i {
        margin-bottom: 9px;
      }
    }
    &-submit {
      background: $primary-color;
      text-transform: uppercase;
      padding: 16px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 100%;
      &:hover {
        background: $bg-color--hover;
      }
    }
  }

  .copyright {
    position: relative;
    margin: 56px auto 28px auto;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    &:after {
      content: " ";
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translate(-50%, 0);
      width: calc(100vw - 40px);
      height: 1px;
      background: #fff;
    }
  }
}
