@import "../../styles/global";
@import "../../styles/variables";

.blog-item{
    width: 380px;
    .title{
        color: #000;
        font-size: 22px;
        font-weight:bolder;
        margin-top: 1rem;
    }
    .title:hover{
        color: #60D7DF;
    }
    img{
        width:380px;
    }
    .a--sub{
        color:#000;
        font-weight:bold;
        font-size:16px;
        margin-right: 20px;
    }
    .a--sub:hover{
        color: #60D7DF;
    }
     .blog-item+ .blog-item{
        margin-top: 1.5rem;
    } 
    a{
        color: #000;
        font-size:22px;
    }
    a:hover{
        color: #60D7DF;
    } 
}
.blog-selections{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:2rem;
    width: 1300px;
    margin: 0px auto 40px auto;
    background-color: #fff;
    padding: 3rem 3rem 40rem 3rem;
    transform:translateY(-15rem);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    
    .post-text{
        position: relative;
        padding:2.5rem;
        width: 380px;
        text-align: center;
        box-shadow:0 0 12px rgba(0, 0, 0, 0.2);
        margin: 3rem 0px;
        
        h5{
            margin-top:1rem;
            font-family: Satisfy;
        }
        .quotes-icon{
            position:absolute;
            width: 60px;
            height: 60px;
            background-color:#fff;
            border-radius:100%;
            top: 0;
            right: 0;
            transform: translate(33%,-33%);
            box-shadow:0 0 15px rgba(0,0,0,0.3);
        }
        .fa-quote-right{
            transform: translateY(1rem);
            color: #60D7DF;
        }
    }

    .btn.btn-load{
        width: 10rem;
        height:3.2rem;
        color: #fff;
        background-color: #3fd0d4;
        border: none;
        margin:40px auto;
        font-size:13px;
        font-weight: bold;
        border-radius:0px;
    }
    .hidden{
        display: none;
    }
}
.blog--banner{
    position: relative;
    transform: translateY(-5rem);
    img{
        width: 100%;
        filter: brightness(80%);
    }
    div{
        position: absolute;
        top: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: #fff;
    }
    h1{
        font-family: Satisfy;
        font-size:33px;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
    }
    h2{
        font-size: 65px;
        font-weight: 1000;
    }
}
