@import '../../styles/global';
@import '../../styles/variables';

.footer{
    position: absolute;
   left: 0;
   right: 0;
    bottom: 0;
    background: $bg-footer;
    color:$white-color;
    padding-top: 106px ;
    &__tit
    .copyright{
        padding: 22px auto;
    }
}