@import "../../../styles/variables";
@import "../../../styles/global";

.card {
  width: 100%;
  height: 100%;
  color: $black-color;
  overflow: hidden !important;
  min-height: 410px;
  border-radius: 4px;

  background: $white-color;
  border: none;
  box-shadow: 1px 2px 4px 5px rgba(209, 207, 207, 0.2), 1px -2px 5px rgba(185, 184, 184, 0.2);

  i {
    margin-right: 8px;
    font-size: 1rem;
  }
  &-header {
    position: relative;
    padding: unset;
    max-height: 257px;
    max-width: 436px;
    overflow: hidden;
    &:after {
      content: " ";
      position: absolute;
      left: 5px;
      right: 5px;
      bottom: 5px;
      transition: all 0.3s linear;
      height: 20%;
      background: rgba($black-color, 0.2);
      -webkit-filter: blur(20px);
      filter: blur(20px);
    }
  }

  &-img-top {
    transition: all 0.5s linear;
    transform: scale(1);
    width: 100%;
    height: 288px;
    background-size: center;
  }
  &:hover {
    cursor: pointer;
    img {
      transform: scale(1.05);
    }
    .card-header::after {
      height: 40%;
    }
  }
  .card__header__text {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    background: $primary-color;
    font-size: 1rem;
    color: $white-color;
    font-weight: 600;
    padding: 10px 20px;
  }
  &-body {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    // height: 154px;
  }

  &-information {
    position: absolute;
    left: 0;
    top: -10px;
    right: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $primary-color;
    color: $white-color;
    width: 100%;
    font-size: 1rem;
  }

  &-title {
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 20px;
  }
  .container__text {
    margin: 10px 0;
  }
  &-text {
    height: 72px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-oriant: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $text-color;
    font-size: 1rem;
    line-height: 24px;
  }

  &-cost__rating {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card-cost {
      font-weight: 600;
      font-size: 1.2rem;
    }
    .card-rating {
      margin-right: 20px;
      font-weight: 600;
    }
  }
}
