$primary-color: #3fd0d4;
$second-color: #f0ede8;
$bg-color--hover: #3abdc1;
$text-color: #505050;
$text-color--sub: #a9a9a9;
$white-color: #fff;
$white-color--sub: #f8f8f8;
$black-color: #000;
$bg-footer: #212121;
