@import "../../../styles/variables";
@import "../../../styles/global";

.card__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex: 1;
 
  .content {
    margin: 10px 0;
    color: $text-color;
    font-size: 1.2rem;
    display: -webkit-box;
        -webkit-box-oriant: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
  }
  .name {
    font-family: "Pacifico", sans-serif;
    font-style: italic;
  }
}
