.our-team {
  .banner1 {
    img {
      height: fit-content;
    }
  }
  .row {
    padding: 6.875rem 0px;
    justify-content: center;
    display: flex;
    gap: 2rem;
    .item {
      width: 20%;
    }
  }
  .grey {
    background: #f1f1f1;
  }
}
