@import "../../../styles/variables";
@import "../../../styles/global";
.our-team {
  .banner1 {
    img {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
    }
  }
  
}
