

$primary-color:#3fd0d4;
$second-color: #F0EDE8;
$bg-color--hover:#3abdc1;
$text-color: #505050;
$text-color--sub: #A9A9A9;
$white-color:#fff;
$white-color--sub: #f8f8f8;
$black-color: #000;
$bg-footer:#212121;