@import "../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "../styles/responsive.scss";

.App {
  position: relative;
  overflow: hidden;
}

.nav {
  z-index: 555;
}
.component {
  margin-top: 70px !important;
  min-height: 100vh;
}

.backToTop {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $primary-color;
  background: #999;
  right: 20px;
  bottom: 50px;
  z-index: 9999;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease;
  &:hover {
    background: $bg-color--hover;
    transform: scale(1.2);
    color: $white-color;
  }
}
