@mixin setStyle {
  color: #f06;
  font-style: italic;
}

$primary-color: #0fc227;

.component-example {
  color: $primary-color;
  .container {
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // @extend .setBg;
    button{
      @include setStyle;
    }
  }
}

.setBg {
  background: rgba(196, 82, 82, 0.267);
}
