@import "../../../styles/variables";
@import "../../../styles/global";
.product-details__container {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  flex: 1 1;
  flex-wrap: wrap;
  flex-grow: 1;
  .img__list {
    flex: 1;
    min-width: 42%;
    .img-product {
      width: 100%;
      margin-bottom: 1.75rem;
    }
    .gallery {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      gap: 1.75rem;
      .img-gallery {
        flex: 1;
      }
    }
    img {
      cursor: pointer;
    }
  }
  .info {
    flex: 1;
    h1 {
      font-size: 40px;
      font-family: Poppins, sans-serif;
      font-weight: 600;
      margin: 2rem 0rem 1rem 0rem;
    }
    .price {
      margin: 0.5rem 0px;
      font-size: 22px;
      font-family: Poppins, sans-serif;
      font-weight: 600;
    }
    .rating {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      p {
        margin-left: 5px;
      }
      .star {
        margin-right: 1rem;
      }
      .fa-star {
        color: #3fd0d4;
        font-size: 0.8rem;
        margin-left: 0.3rem;
      }
    }
    .btn-container {
      margin: 3rem 0;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      .product-count {
        position: relative;
        display: flex;
        width:-moz-fit-content;
        width: fit-content;
        border: 1px rgb(153, 153, 153) solid;

        .product-count__input {
          height: 3.75rem;
          width: 3.7rem;
          text-align: center;
          font-weight: 500;
          border: none;
          border-right: 1px rgb(153, 153, 153) solid;
          outline: none;
        }
        .product-count__input:focus {
          color: #3fd0d4;
        }
        .btn__ud {
          display: flex;
          flex-direction: column;
          margin: 0px;
          padding: 0px;
          button {
            width: 1.675rem;
            height: 1.8125rem;
            background: #fff;
            border: none;
          }
        }
      }
      .btn-product {
        width: 12rem;
        height: 4rem;
        font-size: 13px;
        font-weight: 600;
        outline: 0;
        box-sizing: border-box;
        color: #fff;
        background-color: #3fd0d4;
        font-family: Poppins, sans-serif;
        border: none;
      }
      .btn-product:hover {
        background-color: #3abdc1;
      }
    }
    .detail-container {
      display: flex;
      font-size: 14px;
      font-family: Poppins, sans-serif;
      .detail__label {
        font-weight: bold;
      }
      .label {
        margin-top: 0.8rem;
      }
      .info__detail {
        margin-left: 2rem;
        span {
          display: block;
          margin-top: 0.8rem;
        }
        .tags + .tags::before {
          white-space: pre;
          content: ", ";
        }
      }
    }
  }
}
.product-single__tab {
  margin-top: 7rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  .tab-list {
    background: #eee;
    padding: 0;
    button {
      font-weight: 600;
      font-size: 13px;
      letter-spacing: 0.1rem;
      text-align: center;
      border: none;
      background: #eee;
      padding: 1.2rem 2.5rem;
    }
    button.active {
      color: #000 !important;
      background: #fff;
    }
  }
  .bottom {
    padding: 2rem;
    .add-info {
      display: flex;
      span {
        display: block;
      }
      .label {
        span {
          font-weight: bold;
        }
      }
      div + div {
        margin-left: 1rem;
      }
    }
    .review-product-container {
      h2 {
        margin: 1rem 0;
        font-size: 1.375rem;
        font-weight: 600;
      }
      .review-product__item {
        display: flex;
        img {
          width: 5.5rem;
          margin-right: 1rem;
        }
        h4 {
          font-size: 0.875rem;
          font-weight: 600;
        }
        .fa-star {
          color: #3fd0d4;
          font-size: 0.8rem;
          margin-left: 0.3rem;
        }
      }
      form {
        background-color: #3abdc1;
        border: none;
        width: 100%;
        color: #fff;
        padding: 3.5rem 2.5rem;
        #first-line {
          margin-bottom: 1rem;
        }
        .fa-star {
          font-size: 0.8rem;
          margin: 0.5rem 0.3rem 0.5rem 0;
          cursor: pointer;
        }
        label:not(.rating__label):not(#save-session__label) {
          display: block;
        }
        input[type="text"],
        textarea {
          background: rgba(255, 255, 255, 0.25);
          width: 100%;
          border: none;
          outline: none;
          padding: 1rem;
        }
        textarea {
          height: 14.5rem;
        }
        input[type="checkbox"] {
          display: inline;
        }
        button {
          margin-top: 0.2rem;
          display: block;
          width: 100%;
          border: none;
          background-color: #fff;
          color: #000;
          padding: 1rem;
          font-size: 0.8125rem;
          font-weight: 600;
        }
        button:hover {
          background-color: #23a9af;
          color: #fff;
        }
      }
    }
  }
}
