@import "../../../styles/variables";
@import "../../../styles/global";

.product-list {
  position: relative;
  width: 100%;
  margin-top: 100px;
  margin: 0px;

  h5 {
    font-size: 18px;
    font-weight: 600;
  }

  .left-col {
    .top-content {
      display: flex;
      justify-content: space-between;
      padding: 1.25rem 0px;
      flex-wrap: wrap;
      span {
        height: 50px;
        padding: 0.6rem 0rem;
      }
      div {
        select {
          height: 50px;
          width: 230px;
          border: none;
          outline: none;
          background: #f8f8f8;
          color: #687380;
          padding-left: 1rem;
        }
      }
    }

    .bottom-content {
      width: 100%;
      div {
        display: flex;
        justify-content: center;
        margin: 2rem auto;
        gap: 1rem;
        font-weight: bold;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        span {
          color: #000;
        }
        button {
          border: none;
          background: none;
          font-weight: bold;
          font-size: 14px;
          font-family: "Poppins", sans-serif;
        }
        button:hover {
          color: #3fd0d4;
        }
        #page {
          color: rgb(167, 167, 167);
        }
        #page:hover {
          color: #000;
        }
      }
    }
  }
  .right-col {
    .filter__price {
      input[type="range"]::-webkit-slider-thumb {
        background: $bg-color--hover;
      }
      .price-input {
        input {
          color: $black-color;
          margin: 6px 0;
        }
      }
      .range__sidebar {
        background: #f0ede8;
        .range__progress {
          background-color: $primary-color;
        }
      }
    }

    .popular-product {
      margin-top: 2rem;
    }
  }

  #img-amazing-tour {
    margin: 2rem auto;
  }
}
