@import "../../styles/global.scss";
@import "../../styles/variables";
@import url("https://fonts.googleapis.com/css?family=Satisfy");
.blog-item {
  position: relative;

  -moz-column-break-inside: avoid;
  break-inside: avoid;

  .header__img {
    overflow: hidden;
    width: 100%;
  }
  .type__category {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    background: $white-color;
    color: $primary-color;
    font-family: "Satisfy", sans-serif;
    font-style: italic;
    letter-spacing: 1.2px;
    font-weight: 300;
    display: none;
  }
  .title {
    color: #000;
    font-size: 22px;
    font-weight: bolder;
    margin-top: 1rem;
  }
  .title:hover {
    color: #60d7df;
  }

  img:not(.blog__img) {
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all 0.5s ease-in;
    &:hover {
      transform: scale(1.03);
    }
  }
  .blog__img {
    display: none;
    max-height: 282px;
    margin: 10px 0;
  }
  .description,
  .heightline__desc {
    display: none;
  }
  .post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: Poppins, sans-serif;

    &-right {
      i {
        font-size: 1rem;
        margin: 5px 10px;
        display: none;
      }
    }
  }
  .a--sub {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
  }
  .a--sub:hover {
    color: #60d7df;
  }
  .blog-item + .blog-item {
    margin-top: 1.5rem;
  }
  a {
    color: #000;
    font-size: 22px;
  }
  a:hover {
    color: #60d7df;
  }
  .blog__content {
    color: rgb(65, 65, 65);
    font-size: 1rem;
  }

  .list__tags {
    display: none;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    a {
      font-size: 1rem;
      width: -webkit-fit-content !important;
      width: -moz-fit-content !important;
      width: fit-content !important;
      margin: 0 5px;
      font-weight: 700;
      padding: 10px 20px;
      background: $primary-color;
      color: $white-color;
    }
  }
}
.post-text {
  position: relative;
  padding: 15% 10%;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  margin: 1rem 0px;
  h5 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: Satisfy;
  }
  .quotes-icon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 100%;
    top: 0;
    right: 0;
    transform: translate(20%, -20%);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
  }
  .fas {
    transform: translateY(100%);
    font-size: 0.8rem;
    color: #60d7df;
  }
  a {
    font-size: 1.25rem;
    transition: all 0.3s ease;
    font-weight: 400;
  }
  a:hover {
    color: #60d7df;
  }
}
.blog-item + .blog-item {
  margin-bottom: 1rem;
}
.banner1 {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  // transform: translateY(-80px);
  img {
    width: 100%;
    max-height: 600px;
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
  }
  div {
    color: #fff;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .title {
      font-size: 4rem;
      font-weight: bolder;
      letter-spacing: -0.05em;
    }
    .subtitle {
      font-size: 2rem;
      font-family: Satisfy !important;
    }
  }
}
