@import "../../../styles/variables";
@import "../../../styles/global";
.search {
  display: flex;
  padding: 1.25rem 0px;
  .ip-search {
    height: 50px;
    padding-left: 1rem;
    width: 82%;
    background: #f8f8f8;
    border: none;
    outline: none;
  }

  button {
    width: 18%;
    background: #3abdc1;
    border: none;
  }
}
.price-filter {
  margin-top: 2rem;
  h5 {
    font-size: 18px;
    font-weight: 600;
  }
  .drag-filter {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #f0ede8;
    .filter-range {
      position: absolute;
      height: 20px;
      top: 0;
      background-color: #3fd0d4;
    }
    span {
      position: absolute;
      height: 22px;
      width: 22px;
      background-color: #3abdc1;
      cursor: pointer;
      z-index: 2;
      transform: translateY(-1px);
    }
  }
}
.product-mini {
  margin: 1rem 0px;
  height: 5rem;
  display: flex;
  .product-name {
    font-size: 0.9rem;
    font-weight: bold;
    color: #212121;
  }
  .product-name:hover {
    color: #3fd0d4;
  }
  img {
    width: 5rem;
  }
  .fa-star {
    color: #3fd0d4;
    font-size: 1rem;
    margin-left: 0.3rem;
  }
}
.category-list {
  margin-top: 1rem;
  h5 {
    font-size: 18px;
    font-weight: 600;
  }
  ul {
    li {
      display: block;
      margin: 0.6rem 0px;
      a {
        font-size: 14px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
      }
      a:hover {
        color: #3fd0d4;
      }
    }
  }
}
