@import "../styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "../styles/responsive.scss";

.App {
  position: relative;
  overflow: hidden;
}

.nav {
  z-index: 101;
}
.component {
  margin-top: 70px !important;
  min-height: 100vh;
}

.backToTop {
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $primary-color;
  background: #999;
  right: 20px;
  bottom: 50px;
  z-index: 999;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease;
  &:hover {
    background: $bg-color--hover;
    transform: scale(1.2);
    color: $white-color;
  }
}

.paginate {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  .next.disabled,
  .previous.disabled {
    pointer-events: none;
    a {
      color: #ccc;
    }
  }
  .page,
  .previous,
  .next {
    margin: 0 4px;
    width: 40px;
    height: 40px;

    a {
      display: flex;
      width: 100%;
      height: 100%;
      border: 1px solid #ccc;
      justify-content: center;
      align-items: center;
    }
  }
  .page.active {
    background: $primary-color;
    a {
      color: $white-color;
    }
  }
}
